venv/
env/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
